nav{
    display:flex;
    align-items: center;
    justify-content: space-between;   
    background-color: lightblue
}
h1{
    align-items: center;
}
.vin {
    width: 30%;
    height: auto;
    
  }
  .aus{
      width:40%;
      height:auto;
  }
.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    height: 10rem;
    border: 1px solid red;
}