nav{
    display:flex;
    align-items: center;
    justify-content: space-between;

}
h1{
    align-items: center;
}
img {
    width: 30%;
    height: auto;
    
  }
.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* spacing */
}